@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.col2{
  background-color: black;
}

.logo{
  width: 100px;
  border-radius: 110px;
  margin: 20px 0 10px 20px;
  object-fit: cover;
}
.logo-image{
  width: 2em;
}

.col1{
  background-color: rgb(32, 31, 31);
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 2;
}

.ulist{
  list-style: none;

}

.ulist li{
  padding: 25px 0;
  font-size: 25px;
}

.ulist li a{
  text-decoration: none;
  color:white;
  padding: 5px ;
  border-radius:20px;
}


.ulist li a.active{
  background-color:white;
  color:red;
}
.col3{
  background-color:black;
}

.card{
  position: relative;
}

.cardbtnn{
  position: absolute;
  width: 90%;
  bottom:10px;
  display:flex;
  align-items:center;
justify-content: space-between;
}
.wishlist-btn{
  font-size: 2em;
  cursor: pointer;
}

@media (max-width:769px){
 .col1{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
 }
 .card{
  height: 30em !important;
 }
 .ulist{
  display: flex;
  flex-direction: row;
  padding: 0;
 }
 .ulist li{
  font-size: 16px;
  margin-left: 1em;
 }
 .search{
  padding-left: 3em;
 }
}
@media (max-width:430px){
.card{
  height: 45em !important;
}
}